<div class="row">
    <div class="col-lg-4">
        <div class="card mb-3">
            <div class="card-body text-center">
                <% if @user.img? %>
                    <%= image_tag @user.img.url, :size =>"120x120"  %>
                <% else %>
                    <%= image_tag "default.jpg", :size =>"120x120" %>
                <% end %>
                <h2><%= @user.name %></h2>
                <%= @user.email %>
                <hr/>
                <section class="stats">
                    <%= render 'users/stats' %>
                </section>
                <hr/>
                <%= link_to "Learned words", user_words_path(@user) %>
                <div>
                    <% unless current_user?(@user) %>
                        <div id="follow-form">
                            <% if current_user.following?(@user) %>
                                <%= render 'unfollow',user: @user %>
                            <% else %>
                                <%= render 'follow',user: @user %>
                            <% end %>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-8">
        <div class="card mb-3">
            <div class="card-header">
                Activity Feed
            </div>
            <div class="card-body">
                <ul class="list-unstyled">
                    <% @activities.each do |activity| %>
                        <% if activity.action_type == "Relationship" %>
                            <li>
                                <%= link_to activity.action.follower.name, activity.action.follower %> followed
                                <%= link_to activity.action.followed.name, activity.action.followed %> .
                            </li>
                            <hr/>                            
                        <% else %>
                            <li>
                                <%= link_to activity.action.user.name, activity.action.user %> learned
                                <%= activity.action.result %> of <%= activity.action.category.word_ids.count %>
                                <%= link_to activity.action.category.title, activity.action %>.
                            </li>
                            <hr/>
                        <% end %>
                    <% end %>
                </ul>
            </div>
        </div>
    </div>
</div>

