<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <h2>Admin | Categories</h2>
        </div>
        <div class="col-lg-6">
            <%= link_to "Add Category", new_administrator_category_path, class: 'btn btn-primary float-right' %>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Words</th>
                    <th>Action</th>
                </tr>
            </thead>
            <% @categories.each do |category| %>
                <tbody>
                    <tr>
                        <td><%= category.title %></td>
                        <td><%= category.description %></td>
                        <td></td>
                        <td>
                            <%= link_to "Update", edit_administrator_category_path(category), class: 'btn btn-info' %>
                            <%= link_to "Delete", administrator_category_path(category), method: :delete, class: 'btn btn-danger' %>
                        </td>
                    </tr>
                </tbody>
            <% end %>
        </table>
    </div>
</div>

<div class="text-center bordor-top pt-3">
    <%= will_paginate %>
</div>